@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@function colors ($color-name, $color-variant) {
    @return map-get(map-get($color, $color-name), $color-variant);
}

$color: (
    primary: (
        base:#191A1C,
        light:#404040,
        textt:#AFAFAF

    ),
    secondary: (
    redd: #9B1B31,
    pinkk:#CC3366,
    teall:#7BC4C4,
    bluee:#5A5CA0,
    yelloww:#F0BF59
    )
);
body{
    background-color: colors(primary, base);
    margin: 0;
    height: 100%;
}
::selection{
  color: colors(primary, textt);
  background:colors(primary, light)
}

// controls the triangle button
html {
  scroll-behavior: smooth;
}
*{
    h1{
        font-family: 'Amatic SC';
        font-size: 4vh;
        color: colors(primary, textt);
        letter-spacing: 2vw;
        font-weight: 700;
    }

    h2{
    font-family: 'Oswald';
    font-weight: 300;
    color: colors(primary, light);
    letter-spacing: 1.55vw;
    text-align: center;
    font: size 0,7vh;
    }
    h3{
      font-family: 'Amatic SC';
      font-size: 30px;
      font-weight: 700;
    }
  }

//scroll bar
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: colors(primary, light); 
}
::-webkit-scrollbar-thumb {
  background: rgba($color: #9B1B31, $alpha: 0.6); 
}
::-webkit-scrollbar-thumb:hover {
  background: colors(secondary, redd); 
}


//navigation
.navigation{
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: colors(primary,light);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
  }
  .contents{
    padding: 20px 40% 0 40% ;
    align-items: center;
    #about_hover{
      &:hover{
      color: colors(primary, base);
    }
  }
  #crab_hover{
    &:hover{
      color: colors(secondary, redd);
    }
  }
  #blob_hover{
    &:hover{
      color: colors(secondary, teall);
    }
  }
  #jelly_hover{
    &:hover{
      color: colors(secondary, yelloww);
    }
  }
  #shark_hover{
    &:hover{
      color: colors(secondary, bluee);
    }
  }
  #dumbo_hover{
    &:hover{
      color: colors(secondary, pinkk);
    }
  }
}
  .sidenav a {
    padding: 40px 0 40px 0;
    text-align: left;
    font-family: 'Amatic SC';
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 10px;
    color: colors(primary, textt);
    display: block;
    transition: 0.3s;
  }
  .sidenav .closebtn {
    position: absolute;
    top: -35px;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
  }
  #main {
    transition: margin-left .2s;
  }

  #menu-toggle{
      *{
          transition: .25 ease-in-out;
          box-sizing: border-box;
      }
      width: 53px;
      height:39px ;
      margin: 30px 0 0 30px;
      position: -webkit-fixed;
      position: fixed;
      cursor: pointer;
      z-index: 10;
    }
    #wave{
        width: 54px;
        height: 40px;
    }
  }
.home{
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  position: fixed;
    top: 30;
    right: 0;
  #home{
    margin:30px 30px 0 0;
    width: 54px;
    
  }
  @media screen and (max-width: 600px){
    #home{
      visibility: hidden;
    }
  }
}
.main{
  .title{
    @media screen and (max-width: 1650px){
      padding-top: 15vh;
    }
    @media screen and (max-width: 1300px){
      padding-top: 25vh;
    }
    .logo_main{
      padding-top:5%;
    }
  }
// triangle scroll
.dive_deeper {
    text-align: center;
    color: colors(primary, light);
    font-family: 'Oswald';
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 2px;
    font-weight: 500;
    font: size 20px;
    padding-top: 92px;

}    

section {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
}

.btn_down {
  margin-top: -25px;
  font-size: 8vh;
  text-align: center;
  color: rgba($color: #9B1B31, $alpha: 0.6);
  :hover {
    color: colors(primary, light)
  }

}
//

// positioning of species
.sea_animals{
#japanese_crab {
  position: absolute;
  z-index:1;
  top: 100vh;
  left: 10vw;
  width: 40vw;
 //
 -webkit-filter: grayscale(0);
 filter: grayscale(0);
 -webkit-transition: .3s ease-in-out;
 transition: .3s ease-in-out;
 &:hover{
   -webkit-filter: grayscale(100%);
 filter: grayscale(100%);
 }
}

#blub_fish {
  position: absolute;
  width: 10vw;
  z-index: 1;
  right: 0;
  top: 130vh;
  //
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  &:hover{
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
  }
}

#cosmic_jelly {
  position: absolute;
  width: 40vw;
  z-index: 1;
  left: 18vw;
  top: 185vh;
  //
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  &:hover{
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
  }
}

#goblin_shark {
  position: absolute;
  width: 50vw;
  z-index: 1;
  right:0;
  top: 245vh;
  //
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  &:hover{
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
  }
}


#dumbo {
  position: absolute;
  width: 18vw;
  top: 280vh;
  left: 10vw;
  transform: rotate(350deg);
  z-index: 1;
  //
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  &:hover{
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
  }
}
}
}
footer {
  margin-top: 240vh;
  display: flex;
  background-color: colors(primary, light);
  position: absolute;
  left: 0;
  z-index:2;
  height: 250px;
  width: 100%;
  justify-content: space-around;
  color: colors(primary, base);
  .logo_footer {
    width: 20vw;
    margin-top: 3vh;
    font-family: 'Oswald';
    font-size: 1.7vh;
    letter-spacing: 0.1vw;
    #blacklogo {
      width: 150px;
    }
    .address {
      font-size: 12px;
      font-weight: 400;
    }
  }
  .creators {
    
    display: flex;
    justify-content: space-around;
    width: 20vw;
    margin-top: 3vh;
    .creator_names {
      font-family: 'Oswald';
      letter-spacing: 0.3vw;
      font-weight: 400;
      
    }
    .creator_accounts {
      
      font-family: 'Oswald';
      margin-top: -2vh;
      font-size: 1.2vh;
      letter-spacing: 0.1vw;
      font-weight: 400;
      padding-right: 5px;
    }
  }
}




//subpages
.animal_name_crab{
  text-align: center;
  position: relative;
  text-shadow: 1px 1px 1px colors(secondary, redd);
}
.animal_name_blob{
  text-align: center;
  position: relative;
  text-shadow: 1px 1px 1px colors(secondary, teall);
}
.animal_name_jelly{
  text-align: center;
  position: relative;
  text-shadow: 1px 1px 1px colors(secondary, yelloww);
}
.animal_name_shark{
  text-align: center;
  position: relative;
  text-shadow: 1px 1px 1px colors(secondary, bluee);
}
.animal_name_dumbo{
  z-index: 1;
  text-align: center;
  position: relative;
  text-shadow: 1px 1px 1px colors(secondary, pinkk);
}
#logo1{
  display: flex;
  flex-wrap: wrap;
  height: 2vh;
  padding-top:40px;
  position: relative;
  z-index: 1;
  top: 0vh;
  left: 45%;
  margin-bottom: 2vh;
}
//rotating mini animal
#scroll {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;

  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1700px){
#scroll{
  visibility: hidden;
}
}

// subpage structuring
.bio_container {
  display: flex;
  margin-top: 8vh;
}

.bio_content {
  width: 20vw;
  margin-left: 20vw;
  padding: 15px;
 // text-align: justify;
  border-radius: 5px 5px 5px 5px;
  background-color: colors(primary, light);
  color: colors(primary, textt);
  font-family: 'Oswald';
  font-weight: 200;
  font-size: 2vh;
}

.appear {
  z-index: 4;
  width: 35vw;
  margin-left: 3vw;
  text-align: justify;
  color: colors(primary, textt);
  font-family: 'Roboto';
  font-size: 1.8vh;
  .title_jelly {
    font-family: 'Amatic SC';
    font-size: 3vh;
    color: colors(secondary, yelloww);
    letter-spacing: 0.3vw;
    margin-bottom: 10px;
  }
  .title_crab {
    font-family: 'Amatic SC';
    font-size: 3vh;
    color: colors(secondary, redd);
    letter-spacing: 0.3vw;
    margin-bottom: 10px;
  }
  .title_blob {
    font-family: 'Amatic SC';
    font-size: 3vh;
    color: colors(secondary, teall);
    letter-spacing: 0.3vw;
    margin-bottom: 10px;
  }
  .title_shark {
    font-family: 'Amatic SC';
    font-size: 3vh;
    color: colors(secondary, bluee);
    letter-spacing: 0.3vw;
    margin-bottom: 10px;
  }
  .title_dumbo {
    font-family: 'Amatic SC';
    font-size: 3vh;
    color: colors(secondary, pinkk);
    letter-spacing: 0.3vw;
    margin-bottom: 10px;
  }
}

.secondline_info {
  display:flex;
  flex-wrap: wrap;
  margin-bottom: 15vh;
  .humanrelation {
    width: 30vw;
    margin-left: 20vw;
    margin-top: 10vh;
    text-align: justify;
    color: colors(primary, textt);
    font-family: 'Roboto';
    font-size: 1.8vh;
    .humanjelly_title {
      font-family: 'Amatic SC';
      font-size: 3vh;
      color: colors(secondary, yelloww);
      letter-spacing: 0.3vw;
      margin-bottom: 10px;
    }
    .humancrab_title {
      font-family: 'Amatic SC';
      font-size: 3vh;
      color: colors(secondary, redd);
      letter-spacing: 0.3vw;
      margin-bottom: 10px;
    }
    .humanblob_title {
      font-family: 'Amatic SC';
      font-size: 3vh;
      color: colors(secondary, teall);
      letter-spacing: 0.3vw;
      margin-bottom: 10px;
    }
    .humanshark_title {
      font-family: 'Amatic SC';
      font-size: 3vh;
      color: colors(secondary, bluee);
      letter-spacing: 0.3vw;
      margin-bottom: 10px;
    }
    .humandumbo_title {
      font-family: 'Amatic SC';
      font-size: 3vh;
      color: colors(secondary, pinkk);
      letter-spacing: 0.3vw;
      margin-bottom: 10px;
    }
  }
  .map {
    img {
      width: 25vw;
      margin-top: 7vh;
      margin-left: 5vw;
    }
  }
  
}
@media screen and (max-width: 1000px){
  .bio_container{
    display: flex;
    margin-top: 8vh;
    flex-direction: column;
    .bio_content{
      width: 73%;
      margin: 10%;
  padding: 15px;
    }
    .appear {
      width: 80%;
      margin:10%;
  }
}
  .secondline_info{
    flex-direction: column;
    .humanrelation {
      width: 80%;
      margin:10%
    }
  }
  #crabmap{
    width: 80%;
    margin:10%
  }
  #blobmap{
    width: 80%;
    margin:10%
  }
  #jellymap{
    width: 80%;
    margin:10%
  }
  #sharkmap{
    width: 80%;
    margin:10%
  }
  #dumbomap{
    width: 80%;
    margin:10%
  }
}
//japanese crab page
#japanese_crab_page {
  position: relative;
  z-index:1;
  padding-top:3%;
  padding-bottom: 5%;
  left:25%;
  width: 50vw;
}
//blobfish page
#blob_fish_page{
  position: relative;
  z-index:1;
  padding-top:5%;
  padding-bottom: 10%;
  left:25%;
  width: 50vw;
}
//cosmicjelly page
#cosmicjelly_page{
  position: relative;
  z-index:1;
  padding-top:10%;
  padding-bottom: 10%;
  left:25%;
  width: 50vw;
}
//goblinshark page
#goblinskark_page{
  position: relative;
  z-index:1;
  padding-top:5%;
  padding-bottom: 10%;
  left:20%;
  width: 60vw;
}
//dumbo page
#dumbo_octapus_page{
  position: relative;
  z-index:1;
  padding-top:5%;
  padding-bottom: 5%;
  left:30%;
  width: 37vw;
}

.team{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15%;
  #memb{
    height: 200px;
    padding:20px 20px; 
  }
  .person{
    position: relative;
  .name{
    font-family: "Oswald";
    font-size: 20px;
    color: colors(primary, textt);
    margin-left: 100px;
  }
}
}

.text_about{
  font-family: "Roboto";
  color: colors(primary, textt);
  margin: 100px 100px;
  font-weight: 400;
}






/* ---- particles.js container ---- */
canvas {
//  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: -10;
  top:0;
}

//slide in about us page
 .slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          background-color: colors(primary, light);
          color:colors(primary, textt);
          box-sizing: content-box;
          margin:20vh 25% 0;
          padding: 20px 20px 20px 20px;
          border-radius: 25px;
          font-family: 'Oswald';
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}


